body {
  margin: 0;
}

.wrapper {
  display: grid;
  /* grid-template-areas:
    "header-left header-right-top "
    "header-left header-right-bottom"
    "nav nav"; */
}

.header {
  display: grid;
  grid-template-areas:
    "header-left header-right-top  "
    "header-left header-right-bottom"
    "nav nav";
  background-color: red;
  grid-template-columns: 1fr 1fr;
}

.header-left {
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-area: header-left;
  background-color: #c7ddea;
  display: grid;
  justify-items: center;
  /*  Nested text-wrapper */
  grid-template-areas:
    "header-text-wrapper "
    "header-image-container ";
}

.header-left button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 0;
}
.header-left img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.header-text-wrapper {
  grid-area: header-text-wrapper;
  display: grid;
  max-width: 50%;
  align-content: center;
  justify-items: center;
  padding: 10px;
}
.header-image-container {
  grid-area: header-image-container;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-right-top {
  grid-area: header-right-top;
  display: grid;
  background-color: purple;
}

.header-right-bottom {
  grid-area: header-right-bottom;
  display: grid;
  background-color: pink;
}

.header-bottom {
  grid-area: nav;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}
