:root {
  --orange: #f17949;
  --yellow: #fab131;
  --light-blue: ##c7ddea;
  --gray: #a9a19e;
  --body: #ebebeb;

  --paragraph: "Fira Sans", sans-serif;
  --heading: "Frank Ruhl Libre", serif;
}

body {
  margin: 0;
  background-color: var(--body);
}
.page-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
}

.header {
  display: grid;
  grid-template-areas:
    "header-left header-right-top  "
    "header-left header-right-bottom"
    "nav nav";
  grid-template-columns: 1fr 1fr;
}
h1,
h2,
h3 {
  font-family: var(--heading);
}
p {
  font-family: var(--paragraph);
}
.header-left {
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-area: header-left;
  background-color: #c7ddea;
  display: grid;
  justify-items: center;
  /*  Nested text-wrapper */
  grid-template-areas:
    "header-text-wrapper "
    "header-image-container ";
}

.header-left span {
  color: #fff;
}

.header-left h1 {
  font-weight: 1000;
  font-size: 300%;
  line-height: 1;
  margin-bottom: 0;
}

.header-left button {
  box-shadow: 10px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  font-family: var(--paragraph);
  font-weight: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.header-left img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.header-text-wrapper {
  grid-area: header-text-wrapper;
  display: grid;
  max-width: 60%;
  padding: 20px;
}
.header-image-container {
  grid-area: header-image-container;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-right-top {
  grid-area: header-right-top;
  display: grid;
  background-color: var(--orange);
  align-items: end;
  justify-items: center;
  line-height: 0;
}
.header-right-top h2 {
  align-self: self-start;
  color: #fff;
}
.header-right-bottom h2 {
  color: #fff;
}

.header-right-bottom {
  grid-area: header-right-bottom;
  display: grid;
  background-color: var(--yellow);
  align-items: end;
  justify-items: center;
  line-height: 0;
}
.header-right-bottom h2 {
  align-self: self-start;
}

.header-bottom {
  grid-area: nav;
  background-color: var(--body);
  color: black;
  font-family: var(--paragraph);
  color: var(--gray);
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
ul li:first-child {
  color: black;
}

li {
  display: inline-block;
}

.main-section-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--gray);
  width: 100%;
}

.main-section-top-left {
  display: grid;
  justify-items: center;
  grid-column: 1 / 3;
  grid-row: 1/ 3;
  background-color: var(--gray);
  align-items: center;
  width: 100%;
}
.main-section-top-left button {
  box-shadow: 10px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  font-family: var(--paragraph);
  font-weight: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.main-section-top-left-container {
  width: 50%;
}
.main-section-top-left h1 {
  font-family: var(--heading);
  color: #fff;
  font-size: 2rem;
  font-weight: 1000;
  width: 100%;
}
.main-section-top-right {
  display: grid;
  place-items: center;
  grid-column: 3/ 5;
  grid-row: 3/ 1;
  background-color: var(--gray);
  width: 100%;
}
.main-section-top-right p {
  font-family: var(--paragraph);
  font-weight: 500;
}
.main-section-top-right-container {
  width: 50%;
}
.main-section-bottom-container {
  display: grid;
  /* Grid-template shorthand grid-template (rows left and cols to the right */
  grid-template: 1fr / repeat(3, 1fr);
  background-image: linear-gradient(to bottom, #a9a19e 50%, #fab131 50%);
  justify-items: center;
  margin-top: 50px;
  grid-column: 1/ 5;
  grid-row: 3/ 5;
}
.card-stack {
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-template-rows: 1fr repeat(1, 1fr);
  grid-row: 1 /4;
  grid-column: 1 /4;
  gap: 20px;
}
.card1 {
  display: grid;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
  background-color: #fff;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.card1 p,
.card2 p,
.card3 p {
  margin-top: 0;
  text-align: center;
  font-size: smaller;
  padding: 30px;
}
.card1 h3,
.card2 h3,
.card3 h3 {
  font-family: var(--heading);
  margin-bottom: 0;
  text-align: center;
}
.container-card1 {
  width: 250px;
  height: 150px;
  transform: translateY(-10%);
  background-color: #c7ddea;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.container-card1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}
.container-card2 {
  width: 250px;
  height: 150px;
  transform: translateY(-10%);
  background-color: var(--yellow);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.container-card2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container-card3 {
  width: 250px;
  height: 150px;
  transform: translateY(-10%);
  background-color: var(--orange);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.container-card3 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card2 {
  display: grid;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
  background-color: #fff;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.card3 {
  display: grid;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
  background-color: #fff;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.main-about-container {
  display: grid;
  grid-template-areas:
    "title title title"
    "text text text";
  padding: 70px;
  background-color: var(--yellow);
  place-items: center;
}

.title {
  grid-area: title;
  display: grid;
  place-items: center;
  color: #fff;
  font-family: var(--heading);
  font-size: larger;
}
.text {
  grid-area: text;
  display: grid;
  text-align: center;
  width: 50%;
  font-size: smaller;
}
.info-boxes {
  display: grid;
  grid-template-columns: 1fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  place-items: center;
}

.box {
  width: 100%;
  height: 250px;
}

.box1 {
  display: grid;
  grid-template-columns: 1 / 2;
  grid-template-rows: 1 /2;
  background-color: #c7ddea;
  place-items: center;

  h1 {
    font-size: 3rem;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}
.box2 {
  display: grid;
  grid-template-columns: 2 / 3;

  grid-template-rows: 20% 1fr;
  grid-template-columns: 1fr;

  background-color: #ffffff;
  p {
    display: grid;
    place-items: center;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-family: var(--paragraph);
    font-size: 0.8rem;
  }

  h2 {
    display: grid;
    color: var(--gray);
    margin: 10px;
    font-family: var(--heading);
  }
}
.box3 {
  display: grid;
  grid-template-columns: 3 / 4;

  grid-template-rows: 20% 1fr;
  grid-template-columns: 1fr;

  p {
    display: grid;
    place-items: center;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-family: var(--paragraph);
    font-size: 0.8rem;
  }

  h2 {
    display: grid;
    color: var(--gray);
    margin: 10px;
    font-family: var(--heading);
  }

  background-color: #ebebeb;
}
.box4 {
  display: grid;
  grid-template-columns: 2 / 2;

  grid-template-rows: 20% 1fr;
  grid-template-columns: 1fr;

  p {
    display: grid;
    place-items: center;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-family: var(--paragraph);
    font-size: 0.8rem;
  }

  h2 {
    display: grid;
    color: var(--gray);
    margin: 10px;
    font-family: var(--heading);
  }
  background-color: #ffffff;
}
.box5 {
  display: grid;
  grid-template-columns: 2 / 3;

  grid-template-rows: 20% 1fr;
  grid-template-columns: 1fr;

  p {
    display: grid;
    place-items: center;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-family: var(--paragraph);
    font-size: 0.8rem;
  }

  h2 {
    display: grid;
    color: var(--gray);
    margin: 10px;
    font-family: var(--heading);
  }
  background-color: var(--orange);
}
.box6 {
  display: grid;
  grid-template-columns: 3 / 4;

  grid-template-rows: 20% 1fr;
  grid-template-columns: 1fr;

  p {
    display: grid;
    place-items: center;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-family: var(--paragraph);
    font-size: 0.8rem;
  }

  h2 {
    display: grid;
    color: var(--gray);
    margin: 10px;
    font-family: var(--heading);
  }
  background-color: #ffffff;
}

footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #777574;
}
.top-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  width: 100%;
  background-color: #a9a19e;
  height: 50px;

  i {
    margin-top: 10px;
    line-height: 0.5;
  }
  p {
    line-height: 0;
  }
}

/* Contact Page */

.contact-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.8fr;
  grid-template-rows: 1fr 0.3fr;

  background-color: #c7ddea;

  h1 {
    display: grid;
    grid-column: 2/ 4;
    grid-row: 1 / 3;
    place-items: center;
    justify-content: end;
    font-size: 3rem;
  }

  img {
    display: grid;
    grid-column: 4 /6;
    grid-row: 1 / 3;
  }
}
.contact-nav {
  height: 70px;
  display: flex;
  flex-direction: column;
  color: var(--gray);
  width: 100%;
  font-family: var(--paragraph);
  font-size: smaller;
  justify-content: center;

  ul :nth-child(4) {
    font-weight: bold;
    color: black;
  }
}

.contact-main {
  display: grid;
  grid-template-columns: 1fr repeat(8, 1fr);
  grid-template-rows: 1fr repeat(8, 1fr);
  background-color: var(--gray);
  padding: 20px;

  h1 {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    color: white;
    font-size: 40px;
  }
}
.contact-main-form {
  display: grid;

  grid-column: 5/ 9;
  grid-row: 2 / 9;

  font-family: var(--paragraph);
  grid-template-columns: 1fr repeat(7, 1fr);
  grid-template-rows: 1fr repeat(7, 1fr);

  .button {
    grid-column: 6 / 8;
    grid-row: 9 / 9;
    box-shadow: 10px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    font-family: var(--paragraph);
    font-weight: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  #message {
    grid-column: 2 / 8;
    grid-row: 4 / 8;
  }
  .input {
    grid-column: 2 / 8;
    grid-row: 2 / 3;
  }
  label {
    grid-column: 2 / 8;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    color: white;
  }
  .email {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
  }
}

a {
  text-decoration: none;
  color: var(--gray);
}

::placeholder {
  font-weight: bolder;
  color: black;
  font-family: var(--paragraph);
  padding: 10px;
}

.contact-footer {
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr);
  grid-template-rows: 1fr repeat(4, 1fr);
  background-image: url("img/map.png");
  background-size: cover;
  height: 600px;

  span {
    font-size: 300px;
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    color: var(--orange);
  }
}
.contact-footer-container {
  text-align: start;
  background-color: var(--yellow);
  padding: 20px;
  width: 300px;
  height: 200px;
  border-radius: 8px;
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  color: white;
  h1 {
    font-size: 35px;
  }
}
.gray-box {
  /* width: 100%; */
  background-color: #777574;
  height: 300px;
}

@media screen and (max-width: 600px) {
  .header-bottom {
    display: none;
  }

  .header-text-wrapper {
    max-width: 100%;
  }

  .header-image-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .header-left img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr repeat(6, 1fr);
  }

  .header-left {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }

  .header-right-top {
    grid-column: 1 /3;
    grid-row: 4 / 6;
  }
  .header-right-bottom {
    grid-column: 1 /3;
    grid-row: 6 / 8;
  }

  .main-section-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: var(--gray);
    width: 100%;
  }
}

.main-section-top-left {
  grid-column: 1/5;
  grid-row: 1 / 2;

  h1,
  p {
    margin: 0;
  }
}

.main-section-top-left-container {
  width: 80%;

  button {
    display: none;
  }
}
.main-section-top-right {
  grid-column: 1/5;
  grid-row: 2 / 3;

  h1,
  p {
    margin: 0;
  }
}

.main-section-top-right-container {
  width: 80%;
}

.main-section-bottom-container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr .2fr;
  background-image: var(--gray);
}

.card-stack {
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr repeat(2, 1fr);
  .card1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
  .card2 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  .card3 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

.info-boxes{
  grid-template-rows: 1fr repeat(5, 1fr);
  grid-template-columns: 1fr ;
}
